ion-label.instructions{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: gray;
    font-size: 24px;
}
ion-icon.icon{
    height: 150px;
    width: 150px;
    color: gray;
}
ion-label.icon{
    text-align: center;
}
ion-title{
    text-align: center;
}